<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{# CSS 加时间戳版本，避免 CDN/浏览器缓存旧样式 #}
<link rel="stylesheet" href="/main.css?v={{ now(timestamp=true) }}">
<link rel="icon" type="image/x-icon" href="{{ config.extra.site.logo }}">
<link rel="apple-touch-icon" href="{{ config.extra.site.logo }}">
<link rel="bookmark" href="{{ config.extra.site.logo }}">
<link rel="apple-touch-icon-precomposed" sizes="180x180" href="{{ config.extra.site.logo }}">
<meta name="theme-color" content="#1C1C1F">
<link rel="stylesheet" href="/iconfont/style.css">
<script src="/libs/jquery/jquery.min.js"></script>
<script src="/js/simpleParallax.min.js"></script>
<script src="/js/main.js"></script>
<link rel="manifest" href="/manifest.json">

{# SEO hreflang 标签 #}
<link rel="alternate" hreflang="{{ config.default_language }}" href="{{ config.base_url }}/" />
{% for code, language_conf in config.languages %}
<link rel="alternate" hreflang="{{ code }}" href="{{ config.base_url }}/{{ code }}/" />
{% endfor %}
<link rel="alternate" hreflang="x-default" href="{{ config.base_url }}/" />

{# 多语言检测 - 内联 JS 渲染全局字典 #}
{% if config.extra.i18n_detect is defined %}
<script>
  window.__i18n_detect = {{ config.extra.i18n_detect | json_encode() | safe }};
  window.__supported_languages = ["{{ config.default_language }}"{% for code, lang_conf in config.languages %}, "{{ code }}"{% endfor %}];
</script>
{% endif %}
<script src="/js/i18n.js" defer></script>